footer {
    color: white;
    background-color: #454646;
    height: auto;
    font-family: TitilliumWeb, Arial, Helvetica, sans-serif;
}

button {
    background-color: #374391;
    border-color: #374391;
    border-radius: 0px;
}

input {
    border-radius: 0px;
}