<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left" style="margin-top: 3%">
                <h3>About</h3>
                <ul style="list-style-type: none">
                    <li>History</li>
                    <li>Our Team</li>
                    <li>Guidelines</li>
                    <li>Terms & Conditions</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="col-lg-4 text-lg-left" style="margin-top: 3%">
                <h3>Services</h3>
                <ul style="list-style-type: none">
                    <li>How to Login</li>
                    <li>Our Products</li>
                    <li>User Status</li>
                    <li>Help and Support</li>
                    <li>FAQ</li>
                </ul>
            </div>
            <div id="hris" class="col-lg-4 text-lg-left">
                <div>
                    <h3 style="text-align: end">
                        <img style="width: 35px; height: 35px" class="mx-auto" src="../../assets/Moh_Logo.png" />&nbsp; MINISTRY OF HEALTH
                    </h3>
                    <label>HRIS License &copy; Ministry of Health - Ethiopia 2021</label>
                    <div class="input-group" style="justify-content: end">
                        <div class="form-outline">
                            <input type="search" class="form-control" />
                        </div>
                        <button type="button" class="btn btn-primary">
              <i class="fas fa-search"></i>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
