<html class="bg-white animated fadeIn" id="animated-example">
<section style="margin-top: 2%" id="team">
    <div class="container justify-center">
        <div style="margin-left: 7%" class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img style="width: 180px; height: 180px" class="mx-auto bg-white" src="../../assets/HRA_Icon.png" />
                    <div style="margin-left: -5%; margin-top: 5%">
                        <h3>
                            Human Resource <br /> Administration
                        </h3>
                        <p style="color: black; width: 65%">
                            The primary role of this module is to manage workers employed through the FMOH at the ministry, regional, hospital, zonal, and woreda level. A decision maker can analyze this data to answer key human resource management and policy questions.
                        </p>
                    </div>
                    <button onclick="
                    window.location.href =
                      'http://hra.moh.gov.et'" type="button" class="btn btn-info">
              Learn More
            </button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img style="width: 180px; height: 180px" class="mx-auto bg-white" src="../../assets/HRD_Icon.png" />
                    <div style="margin-left: -5%; margin-top: 5%">
                        <h3>
                            Human Resource <br /> Development
                        </h3>
                        <p style="color: black; width: 65%">
                            The features for this particular module allows users to manage graduates, short term training, long term training, training programs, trainees and trainers. Capturing this vital information from each employee that relates to training, allows to measure
                            the workforce professional capacity at any given time.
                        </p>
                    </div>
                    <button onclick="
                    window.location.href =
                      'http://hrd.moh.gov.et'
                  " type="button" class="btn btn-info">
              Learn More
            </button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img style="width: 180px; height: 180px" class="mx-auto bg-white" src="../../assets/Licensing_icon.png" />
                    <div style="margin-left: -5%; margin-top: 5%">
                        <h3>
                            Human Resource <br /> Licensing
                        </h3>
                        <p style="color: black; width: 65%">
                            This module of HRIS works on issuing medical license to medical professionals. Medical professionals can request for a new license or a license renewal using HRL. They can also request for a good standing letter and ask for verifications of some documents.
                            Aside from applicants requesting for a license, experts also use this system to evaluate and review an applicant's application.
                        </p>
                    </div>
                    <button onclick="
            window.location.href =
              'http://hrl.moh.gov.et'
          " type="button" class="btn btn-info">
              Learn More
            </button>
                </div>
            </div>
        </div>
    </div>
</section>

</html>
