<html class="bg-white animated fadeIn" id="animated-example">
  <section style="margin-top: 2%" id="team">
    <div class="container justify-center">
      <div style="margin-left: 7%" class="row">
        <div class="col-lg-4">
          <div class="team-member">
            <img
              style="width: 180px; height: 180px"
              class="mx-auto bg-white"
              src="../../assets/HRA_Icon.png"
            />
            <div style="margin-left: -5%; margin-top: 5%">
              <h3 style="margin-left: 25%">HRA</h3>
              <p style="color: black; width: 65%">
                You must be able to convey information via phone, email, and in
                person. You want to make sure your tone is always
              </p>
            </div>
            <button     onclick="
                    window.location.href =
                      'https://ihris.sandboxaddis.com/'
                  " type="button" class="btn btn-info">Learn More</button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img
              style="width: 180px; height: 180px"
              class="mx-auto bg-white"
              src="../../assets/HRD_Icon.png"
            />
            <div style="margin-left: -5%; margin-top: 5%">
              <h3 style="margin-left: 25%">HRD</h3>
              <p style="color: black; width: 65%">
                You must be able to convey information via phone, email, and in
                person. You want to make sure your tone is always
              </p>
            </div>
            <button   onclick="
                    window.location.href =
                      'http://hrd.sandboxaddis.com/#/'
                  " type="button" class="btn btn-info">Learn More</button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img
              style="width: 180px; height: 180px"
              class="mx-auto bg-white"
              src="../../assets/Licensing_icon.png"
            />
            <div style="margin-left: -5%; margin-top: 5%">
              <h3 style="margin-left: 10%">Licensing</h3>
              <p style="color: black; width: 65%">
                You must be able to convey information via phone, email, and in
                person. You want to make sure your tone is always
              </p>
            </div>
            <button
              onclick="
            window.location.href =
              'https://hrlicensurefe.dev.k8s.sandboxaddis.com/landing'
          "
              type="button"
              class="btn btn-info"
            >
              Learn More
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>
