<html
  style="height: auto"
  class="bg-white animated fadeIn"
  id="animated-example"
>
  <div
    style="
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 5%;
      margin-bottom: 5%;
    "
  >
    <div>
      <div class="row">
        <div class="col-sm-2">
          <img
            style="width: 90px; height: 90px"
            class="mx-auto bg-white"
            src="../../assets/HRA_Icon.png"
          />
        </div>
        <div id="hra" style="margin-left: 10px" class="col-sm-6">
          <span class="label hra" style="margin-left: -40px">HRA</span>
          <p
            style="
              color: black;
              width: 65%;
              margin-left: -40px;
              margin-top: 10px;
            "
          >
            You must be able to convey information via phone, email, and in
            person. You want to make sure your tone is always
          </p>
        </div>
      </div>

      <div class="row" style="margin-left: 45%; margin-top: 5%">
        <div id="hrd" class="col-sm-6">
          <span class="label hra">HRD</span>
          <p style="color: black; margin-top: 10px">
            You must be able to convey information via phone, email, and in
            person. You want to make sure your tone is always
          </p>
        </div>
        <div class="col-sm-2">
          <img
            style="width: 90px; height: 90px"
            class="mx-auto bg-white"
            src="../../assets/HRD_Icon.png"
          />
        </div>
      </div>
      <div class="row" style="margin-top: 5%; margin-left: 10%">
        <div style="margin-right: 15px" class="col-sm-2">
          <img
            style="width: 90px; height: 90px"
            class="mx-auto bg-white"
            src="../../assets/Licensing_icon.png"
          />
        </div>
        <div id="hrl" class="col-sm-6">
          <span class="label hra" style="margin-left: -40px">Licensing</span>
          <p
            style="
              color: black;
              width: 65%;
              margin-left: -40px;
              margin-top: 10px;
            "
          >
            You must be able to convey information via phone, email, and in
            person. You want to make sure your tone is always
          </p>
        </div>
      </div>
    </div>
    <div></div>
    <div></div>
  </div>
</html>
