<html style="height: auto" class="bg-white animated fadeIn" id="animated-example">
<div style="
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 5%;
      margin-bottom: 5%;
    ">
    <div>
        <div id="hra_container" class="row">
            <div class="col-sm-2">
                <img style="width: 90px; height: 90px" class="mx-auto bg-white" src="../../assets/HRA_Icon.png" />
            </div>
            <div id="hra" style="margin-left: 10px" class="col-sm-6">
                <span class="label hra" style="margin-left: -40px;">HRA</span
          >
          <p
            style="
              color: black;
              width: 65%;
              margin-left: -40px;
              margin-top: 10px;
            "
          >
            The primary role of this module is to manage workers employed
            through the FMOH at the ministry, regional, hospital, zonal, and
            woreda level. A decision maker can analyze this data to answer key
            human resource management and policy questions.
          </p>
        </div>
      </div>

      <div class="row" style="margin-left: 45%; margin-top: 5%">
        <div id="hrd" class="col-sm-6">
          <span class="hra">HRD</span>
                <p style="color: black; margin-top: 10px">
                    The features for this particular module allows users to manage graduates, short term training, long term training, training programs, trainees and trainers. Capturing this vital information from each employee that relates to training, allows to measure
                    the workforce professional capacity at any given time.
                </p>
            </div>
            <div class="col-sm-2">
                <img style="width: 90px; height: 90px" class="mx-auto bg-white" src="../../assets/HRD_Icon.png" />
            </div>
        </div>
        <div id="hrl_container" class="row" style="margin-top: 5%; margin-left: 10%">
            <div style="margin-right: 15px" class="col-sm-2">
                <img style="width: 90px; height: 90px" class="mx-auto bg-white" src="../../assets/Licensing_icon.png" />
            </div>
            <div id="hrl" class="col-sm-6">
                <span class="label hra" style="margin-left: -40px">HRL</span>
                <p style="
              color: black;
              width: 65%;
              margin-left: -40px;
              margin-top: 10px;
            ">
                    This module of HRIS works on issuing medical license to medical professionals. Medical professionals can request for a new license or a license renewal using HRL. They can also request for a good standing letter and ask for verifications of some documents.
                    Aside from applicants requesting for a license, experts also use this system to evaluate and review an applicant’s application.
                </p>
            </div>
        </div>
    </div>
    <div></div>
    <div></div>
</div>

</html>
