<nav class="navbar navbar-expand-md fixed-top">
  <div style="margin-left: 5%">
    <a class="navbar-brand" href="#">
      <img
        style="width: 50px; height: 50px; margin-top: -30px"
        class="mx-auto"
        src="../../assets/Moh_Logo.png"
      />
    </a>
    <a class="navbar-brand" style="margin-top: -20px">
      <div style="margin-top: 10%">
        <img
          style="width: 200px; height: 15px"
          class="mx-auto"
          src="../../assets/MOH_title_Amharic.png"
        />
      </div>
      <div>
        <img
          style="width: 300px; height: 15px"
          class="mx-auto"
          src="../../assets/MOH_title_English.png"
        />
      </div>
    </a>
  </div>
  <div
    style="margin-left: 30%"
    class="collapse navbar-collapse"
    id="navbarCollapse"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#slider" class="nav-link">HOME</a>
      </li>
      <li class="nav-item">
        <a href="#about" class="nav-link">SERVICES</a>
      </li>
      <li class="nav-item">
        <a href="#service" class="nav-link">HELP</a>
      </li>
      <li class="nav-item">
        <a href="#footer" class="nav-link">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
<div id="slider">
  <app-slider></app-slider>
</div>
<div id="about">
  <app-about></app-about>
</div>
<div id="service">
  <app-services></app-services>
</div>
<div id="contact">
  <app-contact></app-contact>
</div>
<div id="footer">
  <app-footer></app-footer>
</div>
