<nav id="main" class="navbar navbar-expand-md fixed-top">
    <div id="main_2" style="margin-left: 5%">
        <div>
            <a class="navbar-brand" href="#">
                <img style="width: 50px; height: 50px" class="mx-auto" src="../../assets/Moh_Logo.png" />
            </a>
        </div>
        <div>
            <a class="navbar-brand">
                <div>
                    <h4>ጤና ሚኒስቴር - ኢትዮጵያ</h4>
                </div>
                <div>
                    <h4>MINISTRY OF HEALTH - ETHIOPIA</h4>
                </div>
            </a>
        </div>
    </div>
    <div id="navigation">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#slider" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link">SERVICES</a>
            </li>
            <li class="nav-item">
                <a href="#service" class="nav-link">HELP</a>
            </li>
            <li class="nav-item">
                <a href="#footer" class="nav-link">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
<div id="slider">
    <app-slider></app-slider>
</div>
<div id="about">
    <app-about></app-about>
</div>
<div id="service">
    <app-services></app-services>
</div>
<div id="contact">
    <app-contact></app-contact>
</div>
<div id="footer">
    <app-footer></app-footer>
</div>