<html>
  <div style="text-align: center; color: #aac7fd">
    <h2>Products</h2>
  </div>
  <div style="text-align: center; color: white">
    ndustry. Lorem Ipsum has been the industry's standard dummy text ever since
    the 1500s, when an unknown printer took a galley of type and scrambled it to
    mau ndustry. Lorem Ipsum has been the industry's standard dummy text ever
    since the 1500s, when an unknown printer took a galley of type and scrambled
    it to maundustry. Lorem Ipsum has been the industry's standard dummy text
    ever since the 1500s, when an unknown printer took a galley of type and
    scrambled it
  </div>
</html>
