<html>
<div style="text-align: center; color: #aac7fd">
    <h2>Products</h2>
</div>
<div style="text-align: center; color: white">
    The primary role of this module is to manage workers employed through the FMOH at the ministry, regional, hospital, zonal, and woreda level. A decision maker can analyze this data to answer key human resource management and policy questions. The features
    for this particular module allows users to manage graduates, short term training, long term training, training programs, trainees and trainers. Capturing this vital information from each employee that relates to training, allows to measure the workforce
    professional capacity at any given time. This module of HRIS works on issuing medical license to medical professionals. Medical professionals can request for a new license or a license renewal using HRL. They can also request for a good standing letter
    and ask for verifications of some documents. Aside from applicants requesting for a license, experts also use this system to evaluate and review an applicant's application.
</div>

</html>
