<body>
    <div style="margin-top: 5rem;" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div style="text-align: center" class="col-lg-5">
                        <div style="margin-top: 20%; margin-left: 30%; width: 55%">
                            <div>
                                <h1 style="
                    color: white;
                    font-size: 40px;
                    font-weight: 600;
                    text-align: start;
                  ">
                                    Human Resource Administration
                                </h1>
                            </div>
                            <div>
                                <p style="color: white; text-align: start">
                                    The primary role of this module is to manage workers employed through the FMOH at the ministry, regional, hospital, zonal, and woreda level. A decision maker can analyze this data to answer key human resource management and policy questions.
                                </p>
                            </div>
                            <div style="margin-right: 40%">
                                <button onclick="
                    window.location.href =
                      'http://hra.moh.gov.et'
                  " style="align-items: start" type="button" class="btn btn-info">
                  LOG IN NOW
                </button>
                            </div>
                        </div>
                    </div>

                    <div id="sign" class="col-lg-7">
                        <svg class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 20%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>
                        <svg style="margin-top: 15%; margin-left: 35%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>

                        <svg style="margin-left: 15%; margin-top: 5%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 3%; margin-left: 40%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>
                        <svg style="margin-left: 50%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 25%; margin-left: -60px" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 55%; margin-left: -180px" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 40%; margin-left: -45px" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>
                        <svg style="margin-top: 45%; margin-left: 10px" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 5%; margin-left: 10%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>
                        <img class="d-block w-100" src="../../assets/HRA_Slideshow_Image.png" alt="First slide" />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div style="text-align: center" class="col-lg-5">
                        <div style="margin-top: 25%; margin-left: 30%; width: 55%">
                            <div>
                                <h1 style="
                    color: white;
                    font-size: 40px;
                    font-weight: 600;
                    text-align: start;
                  ">
                                    Human Resource Development
                                </h1>
                            </div>
                            <div>
                                <p style="color: white; text-align: start">
                                    The features for this particular module allows users to manage graduates, short term training, long term training, training programs, trainees and trainers. Capturing this vital information from each employee that relates to training, allows to measure
                                    the workforce professional capacity at any given time.
                                </p>
                            </div>
                            <div style="margin-right: 40%">
                                <button onclick="
                    window.location.href =
                      'http://hrd.moh.gov.et'
                  " style="align-items: start" type="button" class="btn btn-info">
                  LOG IN NOW
                </button>
                            </div>
                        </div>
                    </div>
                    <div id="sign" class="col-lg-7">
                        <svg style="margin-left: 50%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 10%; margin-left: 70%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>

                        <svg style="margin-left: 85%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-left: 25%; margin-top: 5%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 3%; margin-left: 40%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>
                        <svg style="margin-left: 50%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 25%; margin-left: 15%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 5%; margin-left: 50%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>
                        <svg style="margin-top: 35%; margin-left: 85%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 20%; margin-left: 20%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>
                        <svg style="margin-top: 40%; margin-left: 10px" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <img class="d-block w-100" src="../../assets/HRD_Slideshow_Image.png" alt="First slide" />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div style="text-align: center" class="col-lg-5">
                        <div style="margin-top: 25%; margin-left: 30%; width: 55%">
                            <div>
                                <h1 style="
                    color: white;
                    font-size: 40px;
                    font-weight: 600;
                    text-align: start;
                  ">
                                    Human Resource Licensing
                                </h1>
                            </div>
                            <div>
                                <p style="color: white; text-align: start">
                                    This module of HRIS works on issuing medical license to medical professionals. Medical professionals can request for a new license or a license renewal using HRL. They can also request for a good standing letter and ask for verifications of some documents.
                                    Aside from applicants requesting for a license, experts also use this system to evaluate and review an applicant's application.
                                </p>
                            </div>
                            <div style="margin-right: 40%">
                                <button onclick="
                    window.location.href =
                      'http://hrl.moh.gov.et'
                  " style="align-items: start" type="button" class="btn btn-info">
                  LOG IN NOW
                </button>
                            </div>
                        </div>
                    </div>
                    <div id="sign" class="col-lg-7">
                        <svg style="margin-left: 68%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 20%; margin-left: 70%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>
                        <svg style="margin-top: 5%; margin-left: 10%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>
                        <svg style="margin-left: 15%; margin-top: 5%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 3%; margin-left: 40%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>
                        <svg style="margin-left: 50%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 25%; margin-left: 10%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 10%; margin-left: 75%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 55%; margin-left: 90%" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <svg style="margin-top: 40%; margin-left: 15%" class="svg-circle" viewBox="0 0 100 100">
              <circle
                cx="50"
                cy="50"
                r="45"
                fill="none"
                stroke-width="7.5"
              ></circle>
            </svg>
                        <svg style="margin-top: 45%; margin-left: 10px" class="svg-plus" viewBox="0 0 100 100">
              <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
              <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
            </svg>
                        <img class="d-block w-100" src="../../assets/Licensing_Slideshow_Image.png" alt="First slide" />
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</body>
