/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: TitilliumWeb;
  font-weight: 900;
  src: local("TitilliumWeb"),
    url(./assets/fonts/TitilliumWeb-Bold.ttf) format("truetype");
}
@font-face {
  font-family: TitilliumWeb;
  font-weight: 400;
  src: local("TitilliumWeb"),
    url(./assets/fonts/TitilliumWeb-Regular.ttf) format("truetype");
}
